<img src="<%= @user.twitter.user.attrs[:profile_image_url].gsub("_normal", "") %>">

<h3>Hello, <%= @user.name %> </h3>

<div>
	<%= render partial: 'tweets/new' %>
</div>

<div id="timeline-results">
	<% @timeline.each do |tweet| %>
    <h3><%= tweet[0] %></h3>
    <p><%= tweet[1] %></p>
    <p><%= tweet[2].strftime("%w %b %y @ %H:%M") %></p>
  <%end%>
</div>


<div id="hour-form">
<%= form_tag(user_path, method: "patch", remote: true) do %>
	<%= label_tag(:hour, "Go back:") %>
  <%= number_field_tag(:hour, placeholder: "Number of Hours") %>
  <%= submit_tag("Time Travel") %>
<% end %>
</div>




