<img src="<%= @user.profile_picture %>">

<h3>Hello, <%= @user.name %> </h3>

<div>
	<%= render partial: 'tweets/new' %>
</div>

<div id="timeline-results">
	<% @timeline.each do |tweet| %>
		<img src="<%= tweet.first %>">
    <h3><%= tweet.second %></h3>
    <p><%= auto_link(tweet.third).html_safe %></p> 
    <p><%= tweet.fourth.strftime("%w %b %y @ %H:%M") %></p>
  <%end%>
</div>

<div id="hour-form">
	<%= form_tag(user_path, method: "patch", remote: true) do %>
		<%= label_tag(:hour, "Go back:") %>
	  <%= number_field_tag(:hour, placeholder: "Number of Hours") %>
	  <%= submit_tag("Time Travel") %>
	<% end %>
</div>

