<img src="<%= @user.twitter.user.attrs[:profile_image_url].gsub("_normal", "") %>">

<h3>Hello, <%= @user.name %> </h3>

<% @user.print_name.each do |name| %>
<p><%= name %></p>
<% end %>

<div>
	<%= render partial: 'tweets/new' %>
</div>

<div id="timeline-results">
	<% @timeline.each do |tweet| %>
    <h3><%= tweet.first %></h3>
    <p><%= auto_link(tweet.second).html_safe %></p> 
    <p><%= tweet.third.strftime("%w %b %y @ %H:%M") %></p>
  <%end%>
</div>


<div id="hour-form">
<%= form_tag(user_path, method: "patch", remote: true) do %>
	<%= label_tag(:hour, "Go back:") %>
  <%= number_field_tag(:hour, placeholder: "Number of Hours") %>
  <%= submit_tag("Time Travel") %>
<% end %>
</div>

<%= auto_link("link @user, please #request") %>
