<img src="<%= @user.twitter.user.attrs[:profile_image_url].gsub("_normal", "") %>">

<h3>Hello, <%= @user.name %> </h3>

<p><%= link_to "New Tweet", new_tweet_path %></p>

<div id="timeline-results">
<% @timeline.each do |tweet| %>
<p><%= tweet[0] %>: <%= tweet[1] %></p>
<% end %>
</div>

<div id="hour-form">
<%= form_tag(user_path, method: "patch", remote: true) do %>
	<%= label_tag(:hour, "Go back:") %>
  <%= number_field_tag(:hour, placeholder: "Number of Hours") %>
  <%= submit_tag("Time Travel") %>
<% end %>
</div>




